<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="otherFile-web" xsi:type="File" fileName="${basedir}/Nlogs/${cached:cached=true:inner=${date:format=yyyy-MM-dd HH-mm-ss}}_NLog.log"
        layout="->(${longdate}) : ${level} : ${message}" />
    <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss} ${logger} ${message}" />
  </targets>
  
  <rules>
    <!-- Log Info level messages to a file with a dynamic name -->
    <logger name="*" minlevel="Info" writeTo="otherFile-web" />
    <!-- Log Info level messages to the console -->
    <logger name="*" minlevel="Info" writeTo="console" />
    <!-- Log Error and above level messages to the console -->
    <logger name="*" minlevel="Error" writeTo="console" />
    <!-- Log Warn and above level messages to the console -->
    <logger name="*" minlevel="Warn" writeTo="console" />  
  </rules>
</nlog>




